# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node.js
node_modules/
dist/
.npm/

# OS
.DS_Store
Thumbs.db

# AWS CDK
cdk.out/
.cdk.staging/
*.cdk.json
cdk.context.json

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo
tsconfig.json
out/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Coverage directory used by tools like istanbul
coverage/

*.pem
